In [228]:
import numpy as np   

from sklearn.linear_model import LinearRegression

import pandas as pd    

import matplotlib.pyplot as plt   
import matplotlib.style
plt.style.use('classic')
import seaborn as sns
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.metrics import mean_absolute_error, r2_score

In [229]:
df = pd.read_csv("avocado.csv")

In [230]:
df_copy = df

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [232]:
df.drop(['Unnamed: 0','4046','4225','4770'],axis=1,inplace=True)

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  object
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   Total Bags    18249 non-null  float64
 4   Small Bags    18249 non-null  float64
 5   Large Bags    18249 non-null  float64
 6   XLarge Bags   18249 non-null  float64
 7   type          18249 non-null  object
 8   year          18249 non-null  int64
 9   region        18249 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

In [234]:
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True)

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   Total Bags    18249 non-null  float64
 4   Small Bags    18249 non-null  float64
 5   Large Bags    18249 non-null  float64
 6   XLarge Bags   18249 non-null  float64
 7   type          18249 non-null  object
 8   year          18249 non-null  int64
 9   region        18249 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 1.4+ MB

In [236]:
# def remove_outliers_iqr(df):
#     df_filtered = df.copy()
#     for col in df_filtered.select_dtypes(include=['number']).columns:  # Only numeric columns
#         Q1 = df_filtered[col].quantile(0.25)
#         Q3 = df_filtered[col].quantile(0.75)
#         IQR = Q3 - Q1
#         lower_bound = Q1 - 1.5 * IQR
#         upper_bound = Q3 + 1.5 * IQR
#         df_filtered = df_filtered[(df_filtered[col] >= lower_bound) & (df_filtered[col] <= upper_bound)]
#     return df_filtered

In [237]:
# df = remove_outliers_iqr(df)

In [238]:
df['month'] = df['Date'].dt.month

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   Total Bags    18249 non-null  float64
 4   Small Bags    18249 non-null  float64
 5   Large Bags    18249 non-null  float64
 6   XLarge Bags   18249 non-null  float64
 7   type          18249 non-null  object
 8   year          18249 non-null  int64
 9   region        18249 non-null  object
 10  month         18249 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(2)
memory usage: 1.5+ MB

In [240]:
df['month'].unique()

array([12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [241]:
df['month'] = df['month'].replace({12: 'Winter', 1: 'Winter', 2: 'Winter',
                                   3: 'Spring', 4: 'Spring', 5: 'Spring',
                                   6: 'Summer', 7: 'Summer', 8: 'Summer',
                                   9: 'Autumn', 10: 'Autumn', 11: 'Autumn'})

In [242]:
df['month']

0        Winter
1        Winter
2        Winter
3        Winter
4        Autumn
          ...
18244    Winter
18245    Winter
18246    Winter
18247    Winter
18248    Winter
Name: month, Length: 18249, dtype: object

In [243]:
df['month'].unique()

array(['Winter', 'Autumn', 'Summer', 'Spring'], dtype=object)

In [244]:
df['month'].replace({'Winter':4,
                     'Spring':3,
                     'Summer':2,
                     'Autumn':1},inplace=True)

In [245]:
df['month'].unique()

array([4, 1, 2, 3], dtype=int64)

In [246]:
df.head()

,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,month
0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,4
1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,4
2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,4
3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,4
4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,1

In [247]:
df.drop(['Date','Total Volume','Total Bags','year'],axis=1,inplace = True)

In [248]:
df['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [249]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AveragePrice  18249 non-null  float64
 1   Small Bags    18249 non-null  float64
 2   Large Bags    18249 non-null  float64
 3   XLarge Bags   18249 non-null  float64
 4   type          18249 non-null  object
 5   region        18249 non-null  object
 6   month         18249 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 998.1+ KB

In [250]:
df.head()

,AveragePrice,Small Bags,Large Bags,XLarge Bags,type,region,month
0,1.33,8603.62,93.25,0.0,conventional,Albany,4
1,1.35,9408.07,97.49,0.0,conventional,Albany,4
2,0.93,8042.21,103.14,0.0,conventional,Albany,4
3,1.08,5677.40,133.76,0.0,conventional,Albany,4
4,1.28,5986.26,197.69,0.0,conventional,Albany,1

In [251]:
df.drop(['Date','year'],axis=1,inplace=True)

KeyError: "['Date', 'year'] not found in axis"

In [252]:
df.head()

,AveragePrice,Small Bags,Large Bags,XLarge Bags,type,region,month
0,1.33,8603.62,93.25,0.0,conventional,Albany,4
1,1.35,9408.07,97.49,0.0,conventional,Albany,4
2,0.93,8042.21,103.14,0.0,conventional,Albany,4
3,1.08,5677.40,133.76,0.0,conventional,Albany,4
4,1.28,5986.26,197.69,0.0,conventional,Albany,1

In [253]:
df.replace(['conventional','organic'],[1,0],inplace=True)

In [254]:
### removing outliers

In [255]:
df = pd.get_dummies(df, columns=['type','region','month'])

In [256]:
df.head()

,AveragePrice,Small Bags,Large Bags,XLarge Bags,type_0,type_1,region_Albany,region_Atlanta,region_BaltimoreWashington,region_Boise,...,region_StLouis,region_Syracuse,region_Tampa,region_TotalUS,region_West,region_WestTexNewMexico,month_1,month_2,month_3,month_4
0,1.33,8603.62,93.25,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1.35,9408.07,97.49,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,0.93,8042.21,103.14,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1.08,5677.40,133.76,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1.28,5986.26,197.69,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [257]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# df[['Total Volume']] = scaler.fit_transform(df[['Total Volume']])
# df[['Total Bags']] = scaler.fit_transform(df[['Total Bags']])
# df[['Small Bags']] = scaler.fit_transform(df[['Small Bags']])

In [258]:
df['Total Volume'] = df['Total Volume']/sum(df['Total Volume'])
df['Total V'] = df['Total Volume']/sum(df['Total Volume'])
df['Total Volume'] = df['Total Volume']/sum(df['Total Volume'])

KeyError: 'Total Volume'

In [259]:
df.head()

,AveragePrice,Small Bags,Large Bags,XLarge Bags,type_0,type_1,region_Albany,region_Atlanta,region_BaltimoreWashington,region_Boise,...,region_StLouis,region_Syracuse,region_Tampa,region_TotalUS,region_West,region_WestTexNewMexico,month_1,month_2,month_3,month_4
0,1.33,8603.62,93.25,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1.35,9408.07,97.49,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,0.93,8042.21,103.14,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1.08,5677.40,133.76,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1.28,5986.26,197.69,0.0,False,True,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [288]:
poly = PolynomialFeatures(degree=4)  # You can try degree=3 for better results
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

In [289]:
model = LinearRegression()
model.fit(X_train_poly,Y_train)

LinearRegression()

In [290]:
y_pred = model.predict(X_test_poly)

In [291]:
r2 = r2_score(Y_test,y_pred)

In [292]:
r2

-63.62836933526776

In [265]:
df.columns

Index(['AveragePrice', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type_0',
       'type_1', 'region_Albany', 'region_Atlanta',
       'region_BaltimoreWashington', 'region_Boise', 'region_Boston',
       'region_BuffaloRochester', 'region_California', 'region_Charlotte',
       'region_Chicago', 'region_CincinnatiDayton', 'region_Columbus',
       'region_DallasFtWorth', 'region_Denver', 'region_Detroit',
       'region_GrandRapids', 'region_GreatLakes', 'region_HarrisburgScranton',
       'region_HartfordSpringfield', 'region_Houston', 'region_Indianapolis',
       'region_Jacksonville', 'region_LasVegas', 'region_LosAngeles',
       'region_Louisville', 'region_MiamiFtLauderdale', 'region_Midsouth',
       'region_Nashville', 'region_NewOrleansMobile', 'region_NewYork',
       'region_Northeast', 'region_NorthernNewEngland', 'region_Orlando',
       'region_Philadelphia', 'region_PhoenixTucson', 'region_Pittsburgh',
       'region_Plains', 'region_Portland', 'region_RaleighGreensboro',
       'region_RichmondNorfolk', 'region_Roanoke', 'region_Sacramento',
       'region_SanDiego', 'region_SanFrancisco', 'region_Seattle',
       'region_SouthCarolina', 'region_SouthCentral', 'region_Southeast',
       'region_Spokane', 'region_StLouis', 'region_Syracuse', 'region_Tampa',
       'region_TotalUS', 'region_West', 'region_WestTexNewMexico', 'month_1',
       'month_2', 'month_3', 'month_4'],
      dtype='object')

In [266]:
### CREATING AND BUILDING MODEL
X = df[['Total Volume', 'Total Bags', 'Small Bags',
       'Large Bags', 'XLarge Bags', 'type_0', 'type_1', 'month_1', 'month_2',
       'month_3', 'month_4']]
Y = df['AveragePrice']

KeyError: "['Total Volume', 'Total Bags'] not in index"

In [267]:
from sklearn.model_selection import train_test_split

In [281]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y,test_size = 0.30 , random_state=1)

In [282]:
Lin_Reg = LinearRegression()

In [283]:
Line = Lin_Reg.fit(X_train,Y_train)

In [284]:
Line.score(X_train,Y_train)

0.438073702011454

In [285]:
Line.score(X_test,Y_test)

0.43143247516435357

In [286]:
ridge = Ridge(alpha=0.000000000000000000000000000000000000000000000000000000000001)
ridge.fit(X_train, Y_train)
print("Ridge Model Coefficients:", ridge.coef_)

NameError: name 'Ridge' is not defined

In [287]:
ridge.score(X_test , Y_test)

NameError: name 'ridge' is not defined

In [275]:
ridge.score(X_train , Y_train)

NameError: name 'ridge' is not defined

In [266]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso